<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<h1 style="text-align:center;">Welcome to ADD PRODUCT CATALOG page</h1>
<hr>
<p><h3>This page can only be viewed ADMINS and OPERATORS.</h3></p>
<hr>
<div class="container">
     <h3> Product Directory </h3>


    <hr>
<!--    <p class="h4 mb-4">Save Product </p>-->
    <form action="#" th:action="@{/save}"
          th:object="${product}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <div style="display:flex; gap:95px;">
            <label style=" width: 108px;">Product Name:  </label>
            <input type="text" th:field="*{productName}" class="form-control mb-4 w-25" placeholder="Product name" />
        </div>
        <div style="display:flex; gap:95px;">
            <label style=" width: 108px;">Category:  </label>
            <input type="text" th:field="*{category}" class="form-control mb-4 w-25" placeholder="Category" />
        </div>
        <div style="display:flex; gap:95px;">
            <label style=" width: 108px;">Price:  </label>
            <input type="text" th:field="*{price}" class="form-control mb-4 w-25" placeholder="Price" />
        </div>
            <div style="gap:10px;">
                <label style=" width: 108px;">Status:</label>
                <br><span>Active,Inactive,Out_of_stock</span>
                <input style ="display: inline-flex;" type="text" th:field="*{status}" class="form-control mb-4 w-25" placeholder="Status" />
            </div>
        <button th:href="@{/save(productId=${product})}" type="submit" class="btn btn-info col-2"
                onclick="alert('Product upadted/saved successfully!')">Save</button>

    </form>
    <hr>
    <h3><a th:href="@{/viewCatalog}">Back to Product list</a></h3>
</div>
<!--viewCatalog-->
<hr>
<!--<a th:href="@{/}">Back to Home Page</a>-->
</body>
</html>