<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Welcome to Users MegaMart Home Page</title>
</head>
<body>

<br>
Welcome to Users Megamart home page
<br>
<br>
<p>
    <h3><b>User:</b> <span sec:authentication="principal.username"></span>
        <br><hr>
        <b>Roles:</b> <span sec:authentication="principal.authorities"></span>
    </h3>
</p>
<hr>

<p sec:authorize="!hasRole('OPERATOR') and !hasRole('ADMIN')"><b>This page can only be viewed by normal day to day customer (USERS)</b></p>
<p sec:authorize="hasRole('USER') and hasRole('OPERATOR') and !hasRole('ADMIN') "><b>This page can only be viewed by Operators who can update the product list (OPERATORS)</b></p>
<p sec:authorize="hasRole('ADMIN') and hasRole('USER') and hasRole('OPERATOR')"><b>This page can only be viewed by Admins who can update and add the new product to product catalog (ADMINS)</b></p>

<!-- madding a lnk-->
<div sec:authorize="!hasRole('OPERATOR') and !hasRole('ADMIN')">
    <h3><a th:href="@{/viewCatalog}">Click to see the product catalog</a>
                    <b>(Only for Users)</b></h3>
    <hr>
</div>
<div sec:authorize="hasRole('ADMIN') and hasRole('USER') and hasRole('OPERATOR')">
    <h3>  <a th:href="@{/viewCatalog}">Click to see the add catalog</a>
                        <b>(Only for Admins)</b></h3>
    <hr>
</div>

<div sec:authorize="hasRole('USER') and hasRole('OPERATOR') and !hasRole('ADMIN')">
    <h3> <a th:href="@{/viewCatalog}">Click to see the update catalog</a>
                        <b>(Only for Operators)</b></h3>
    <hr>
</div>
<form action="#" th:action="@{/logout}" method="POST">

    <button  type="submit" class="btn btn-info col-2"
           >Logout</button>
<!--    <input type="submit" value="Logout" />-->
</form>
</body>
</html>